.flex-container{
  display: flex;
  background-color: rgb(238, 208, 39);
  width: 800px;
  height: 300px;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.item{
  background: rgb(174, 36, 187);
  width: 15%;
  height: 100px;
}

