table{
  border: 40px solid #2884E0;
  font-size: 30px;
  font-family: Calibri;
  font-weight: 200;
  width: 600px;
  height: 500px;
  text-align: left;
  color: #30567C;
}

thead{
  background-color: #091C2E;
  color: #E7F2FC;
  font-style: normal;
}

tbody tr:nth-child(odd) {
  background: #eee;
}

td{
  border-radius: 4px;
  padding: 15px;
  border: #30567C;
}

th, td {
  border: 1px solid #E7E7FC;
  border-collapse: collapse;
}