.flex-container{
  display: flex;
  
}

.item{
  float: left;
  width: 200px;
  height: 200px;
  flex-direction: row;
}


.green{
  background: rgb(28, 202, 22);
}

.yellow{
  background: rgb(241, 210, 34);
}

.purple{
  background: rgb(174, 36, 187);
}