<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>
    <div id="quiz">
        <p id="question"><%= question %></p>
        <% answers.forEach(e => { %>
          <button id="answers"><%= e.answer %></button>
        <% }); %>
  </div>
    <script src="static/front.js"></script>
  </body>
</html>