<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>MySQL posts</title>
  </head>
  <body>
   <h2>
      <article class="article">
     <ul>
       <% rows.forEach( (row) => { %>
        <li><%= (`${row.id}: '${row.content}' posted by 
          ${row.user} at ${row.date_posted.toString().slice(0, 15)}`); %>
    <% }); %></li>
    </ul>
  </h2>
  </article>
  </body>
</html>