
.head {
  width: 100%;
  height: 400px;
  margin: 0%;
  background-image: url('header.png');
  background-size: cover;
  font-family: 'Lato', sans-serif;
  letter-spacing: 40px;
  font-weight: thin;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
}

body {
  overflow-x: hidden;
  color: rgb(170, 179, 209);
  -webkit-font-smoothing: antialiased;
  display: block;
  background-color: black;
  font-family: 'Inconsolata', monospace;
}

.title {
  font-weight: bold;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: black;
  margin-left: 50px;
  margin-top: 50px;
}

.article2 {
  margin: auto;
  width: 20%;
  height: 550px;
  padding: 0 80px;
  border: 1px solid #dadada;
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
}

.content, .score {
  display: inline-block;
  font-size: 20px;
  font-weight: 200;
}

.score {
  font-style: italic;
}

.title {
  font-size: 26px;
  text-transform: uppercase;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 50%;
}

#nyan {
  width: 10%;
  height: 20%;
  position: absolute;
  top: 250px;
	left: 80px;
	z-index: 1;
}